## /*
#	@description
#	Variables are set to general style and color references, and then gitscripts-specific
#	tags are defined. It is not recommended to override the first block of definitions
#	as they are objectively set, but the second and third block of definitions
#	can be overridden in user.overrides to fit your own personal style.
#	description@
#
#	@notes
#	- These variable names are used throughout GitScripts, so changing them
#	will undoubtedly remove a color from somewhere.
#	notes@
## */


# semantic styles and colors
[ -n "${STYLE_BRIGHT}" ] || export STYLE_BRIGHT=$'\033[1m'
[ -n "${STYLE_NORM}" ] || export STYLE_NORM=$'\033[0m'
[ -n "${STYLE_DIM}" ] || export STYLE_DIM=$'\033[2m'
[ -n "${COL_RED}" ] || export COL_RED=$'\033[31m'
[ -n "${COL_GREEN}" ] || export COL_GREEN=$'\033[32m'
[ -n "${COL_YELLOW}" ] || export COL_YELLOW=$'\033[33m'
[ -n "${COL_BLUE}" ] || export COL_BLUE=$'\033[34m'
[ -n "${COL_MAG}" ] || export COL_MAG=$'\033[35m'
[ -n "${COL_CYAN}" ] || export COL_CYAN=$'\033[36m'
[ -n "${COL_GRAY}" ] || export COL_GRAY=$'\033[37m'
[ -n "${COL_NORM}" ] || export COL_NORM=$'\033[39m'

# descriptive styles and colors
[ -n "${STYLE_ERROR}" ] || export STYLE_ERROR=$'\033[1;37;41m'
[ -n "${STYLE_H1}" ] || export STYLE_H1=$'\033[1;37;42m'
[ -n "${STYLE_H2}" ] || export STYLE_H2=$'\033[1;44m'
[ -n "${STYLE_OUTPUT}" ] || export STYLE_OUTPUT=$'\033[1;34m'
[ -n "${STYLE_INPUT}" ] || export STYLE_INPUT=$'\033[1;37;44m'
[ -n "${STYLE_DIRTY}" ] || export STYLE_DIRTY=$'\033[1;37;41m'
[ -n "${STYLE_AHEAD}" ] || export STYLE_AHEAD=$'\033[1;33;40m'
[ -n "${STYLE_NEWFILE}" ] || export STYLE_NEWFILE=$'\033[1;37;42m'
[ -n "${STYLE_UNTRACKED}" ] || export STYLE_UNTRACKED=$'\033[1;31;47m'
[ -n "${STYLE_MODIFIED}" ] || export STYLE_MODIFIED=$'\033[31m'
[ -n "${STYLE_COMMITTED}" ] || export STYLE_COMMITTED=$'\033[32m'
[ -n "${STYLE_QUESTION}" ] || export STYLE_QUESTION=${STYLE_NORM}${STYLE_BRIGHT}
[ -n "${H1}" ] || export H1=${STYLE_NORM}${STYLE_H1}
[ -n "${H2}" ] || export H2=${STYLE_NORM}${STYLE_H2}
[ -n "${Q}" ] || export Q=${STYLE_QUESTION}
[ -n "${O}" ] || export O=${STYLE_NORM}${STYLE_OUTPUT}
[ -n "${I}" ] || export I=${STYLE_NORM}${STYLE_INPUT}
[ -n "${E}" ] || export E=${STYLE_NORM}${STYLE_ERROR}
[ -n "${X}" ] || export X=$'\033[0;20;39m'


# gitscripts-specific targeted styles and colors
# if you like the format of the command prompt but not the colors themselves, override these
[ -n "${STYLE_PROMPT_DATE}" ] || export STYLE_PROMPT_DATE=${STYLE_BRIGHT}${COL_BLUE}
[ -n "${STYLE_PROMPT_PATH}" ] || export STYLE_PROMPT_PATH=${COL_CYAN}
[ -n "${STYLE_PROMPT_PATH_BRANCH}" ] || export STYLE_PROMPT_PATH_BRANCH=${COL_GREEN}
[ -n "${STYLE_PROMPT_BRANCH}" ] || export STYLE_PROMPT_BRANCH=$'\033[1;37;46m'
[ -n "${STYLE_PROMPT_USER}" ] || export STYLE_PROMPT_USER=${COL_RED}

#[ -n "${}" ] || export