automata_path="/d/automata/"
gitscripts_path="${automata_path}flgitscripts/"
native_bash_profile_path="/c/Program\ Files/Git/etc/bash_profile"
fl_workspace="/d/workspaces/fl_git/finishline"
firefox_home="/c/Program\ Files/Mozilla\ Firefox/firefox.exe"